{% extends 'layouts/base.twig' %}
{% block content %}
    <div class="single_content">
 
        <img src="{{ post.thumbnail.src }}" />
 
    </div>
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="{{post.author.link}}">{{post.author.name}}</a></p>
        {{ post.content | shortcodes }}
    </div>
    {% if post.comment_status != 'closed' %}
        <section class="comments">
            <div class="respond">
                <h3 class="h2">Comments</h3>
                {{ comment_form }}
            </div>
            <div class="responses mt-5">
                {% for cmt in post.get_comments() %}
                    {% include "partials/comment.twig" with {comment:cmt} %}
                {% endfor %}
            </div>

        </section>
    {% endif %}
{% endblock %}